<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <title>Student List</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Student Detail</h1>

    <form>
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" th:value="${student.id}">
                </div>
                <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" th:value="${student.firstName}">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" th:value="${student.lastName}">
                </div>
            </div>
        </div>
        <h3>School History</h3>
        <div class="row" th:each="history : ${student.schoolHistory}">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" th:text="${history.schoolName}">
                        Featured
                    </div>
                    <div class="card-body">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Class Name</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Teacher</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data : ${history.schoolClasses}">
                                <th scope="row" th:text="${data.id}">1</th>
                                <td th:text="${data.className}">Mark</td>
                                <td th:text="${data.startDate}">Otto</td>
                                <td th:text="${data.endDate}">Otto</td>
                                <td th:text="${data.teacherName}">Otto</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <br/>
    </form>
</div>

<th:block layout:fragment="script">
    <!-- disini mulai java script atau jquery-->
    <script th:src="@{}"></script>
</th:block>
</body>
</html>