<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <title>Academic List</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Student List</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="data : ${studentResList}">
                <th scope="row" th:text="${data.id}">1</th>
                <td th:text="${data.firstName}">Mark</td>
                <td th:text="${data.lastName}">Otto</td>
                <td th:text="${data.address}">Otto</td>
                <td>

                    <a th:href="@{~/student/detail/{id}(id=${data.id})}" class="btn btn-primary">
                        Detail <i class="bi bi-eye"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<th:block layout:fragment="script">
    <!-- disini mulai java script atau jquery-->
    <script th:src="@{}"></script>
</th:block>
</body>
</html>